<main class="page__main">
  <div class="container">
    <h1 class="container_title">Buscador cocteles</h1>
    <form class="container_form js_container-form">
      <input class="js_input_text  container_form-text" type="text" value="" placeholder="Ej: Margarita">
      <input class="js_button_search container_form-button1" type="submit" value="Buscar">
      <input class="js_button_reset" type="button" value="Reset">
    </form>
  </div>
  <div class="lists">

    <section class="section_favorites">
      <h2 class="section_favorites-title">Cocteles Favoritos</h2>
      <ul class="js_list_favorite section_favorites-list  ">
      </ul>

    </section>


    <section class="section_list">
      <h2 class="section_list-title">Lista</h2>
      <ul class="js_list_drink section_list-list">
      </ul>
    </section>

  </div>

</main>