<main class="page__main">

  <h1>Buscador cocteles</h1>
  <form>
    <input class="js_input_text" type="text" value="" placeholder="Ej: Margarita">
    <input class="js_button_search" type="button" value="Buscar">
    <input class="js_button_reset" type="button" value="Reset">
  </form>

  <div class="lists">

    <section>
      <h2>Cocteles Favoritos</h2>
      <ul class="js_list_favorite">
      </ul>
    </section>


    <section>
      <h2>Lista</h2>
      <ul class="listDrink js_list_drink">
      </ul>
    </section>

  </div>

</main>