body{
    background-color:lightcoral;
    color: white;
    
}
.container{
    text-align:center;
    padding: 80px;
     &_title{
       padding-bottom:20px ;
    }
}



.lists{
    display: flex;
    justify-content: space-around;
}

.set{
    display: flex;
    justify-content: center;
    align-items: center;
}


//seccion de la lista
.section_list{
    border: 3px solid black;
    height: 400px;
    width: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    &-title{
     text-align: center;
     background-color: beige;
     color: black;
     margin-bottom: 30px;
     font-size: 24px;
    }
    &-list{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }
}
.drink{
    height: 170px;
    width: 150px;
    text-align: center;
    border: 2px solid black;
}
.name_drink{
    text-align: center;
    padding-top: 5px;
}

.js_photo{
    height: 120px;
    width: 140px;
}

.click_favorite{
    border: 5px solid wheat;
    color: black;

}

//seccion de favoritos

.set_fav{
  display: flex;  
  justify-content: start;
  align-items: center;
  width: 175px;
  height: auto;
}
.drink_fav{
    border: 1px solid black;
}
.name_drink-fav{
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    width: 78px;

}
.section_favorites{
    border: 3px solid black;

    height: auto;
    width: 180px;

    &-title{
    text-align: center;
    background-color: beige;
    color: black;
    margin-bottom: 15px;
    }
    &-list{
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;

     }
}


.js_photo-fav{
 height: 100px;
 width: 80px;
}
.js_delete{
    font-size: 20px;
}