// body {
//   padding: 2rem;
//   height: 100vh;
//   background-image: url('../images/bg-adalab.png');
//   background-color: $color-bg;
//   font-family: $font-main;
// }

.js_photo{
    height: 150px;
    width: 150px;
}


.lists{
    display: flex;
    
}

.listDrink{
    list-style: none;
}